.sales-report-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 25vh;
    margin-bottom: 20vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sales-report-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .filters-container {
    margin-bottom: 20px;
  }
  
  .filter-label {
    font-size: 16px;
    margin-right: 5px;
  }
  
  .filter-label::after {
    content: ":";
  }
  
  .select-period {
    padding: 6px 12px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .option {
    padding: 6px 12px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .product-table th,
  .product-table td {
    border: none;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .product-table tbody tr:hover {
    background-color: #f2f2f2;
  }